@import '~bootstrap/scss/bootstrap';
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
body{
  background-color: #fafbf5;
}
//#eeebd9
form{
  text-align:center;
}
.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #006dcc;
}
.btn-primary n{
background-color: #006dcc
}
.container{
  border: 1px solid;
  border-color: grey;
  width: 978px !important;
}
.table-container {
  border: 1px solid #963;
  display: inline-block;
  height: 200px;
  padding-top: 1.875em;
  position: relative;
}
.table-container > div {
  border-color: #888;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  height: 1.7em;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
table {
  display: block;
  height: 150px;
  overflow-y: auto;
}
th {
  padding: 0 5px;
  text-align: center;
}
th:first-child > div {
  border-left: none;
  padding-left: 7px;
}
th > div {
  border-left: 2px solid #888;
  line-height: 1.875em;
  margin-left: -6px;
  padding-left: 5px;
  position: absolute;
  top: 0;
}
td {
  border-color: #888;
  border-style: solid;
  border-width: 0 1px 2px 1px;
  padding: 5px;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;
                 height:100%;}
.carousel-caption{text-align:left; left:5%;}

.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
